# Claw Club Deployment Config
NETWORK=devnet
CLUSTER_URL=https://api.devnet.solana.com
PROGRAM_NAME=claw_club
PROGRAM_ID=ClawClubNFTProgram11111111111111111111111

# Collection Config
COLLECTION_SIZE=500
PUBLIC_SUPPLY=400
TREASURY_SUPPLY=100
MINT_PRICE_SOL=0
ROYALTY_PERCENT=7
MAX_PER_WALLET=1
WHITELIST_DURATION_SECONDS=3600

# Metadata
COLLECTION_NAME="Claw Club"
COLLECTION_SYMBOL="CLAW"
COLLECTION_DESCRIPTION="Premium NFT collection on Solana"
IPFS_GATEWAY=https://ipfs.io/ipfs/
